*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.background {
	height: 600px;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/pic/hunter-moranville-CMEpx6q7xrs-unsplash\ 1.jpg);
	background-size: cover;
	position: absolute;
}
.form-box{
	width: 380px;
	height: 500px;
	position: relative;
	margin: 3% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #3ba0ff, #4cccff);
	border-radius: 30px;
	transition: .5s;
}
.sosmed-icon{
	margin: 30px auto;
	text-align: center;
}
.sosmed-icon img{
	width: auto;
	box-shadow: 0 0 20px 0 #7f7f7f3d;	
}
.input-group{
	top: 210px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #3ba0ff, #4cccff);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.chech-box{
	margin: 30px 10px 30px 0;
}
span{
	color: #888;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
#login{
	left: 50px;
}
#register{
	left: 450px;
}


.footer {
	height: 100px;
	float: left;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	background: rgb(24, 151, 255);
	margin-top: 600px;
}

.footer.left {
	width: 55%;
}

.footer.right {
	width: 45%;
}

.footer p {
	margin-top: 100%;
	float: right;
	padding: 30px;
	text-align: center;
	margin-top: 15px;
}

.fa {
	margin-top: 8%;
	font-size: 30px;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

.fa {
	float: left;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: white;
}

.fa:hover {
	opacity: 0.7;
}